* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(113, 180, 141, 0.35);
}

.typingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.typingWrapper h1 {
    font-size: 2.4rem;
    text-transform: capitalize;
    color: rgb(48, 30, 153);
    text-align: center;
}

.showSentence {
    font-size: 1.6rem;
    margin: 1rem 0;
    letter-spacing: .02rem;
    text-align: center;
    text-transform: capitalize;
    display: none;
    color: rgb(64, 78, 124);
}

.typingbox {
    border: .1rem solid #A084DC;
    border-radius: 1rem;
    max-width: 50rem;
    width: 50rem;
    height: 20rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
}

.startStop {
    display: inline-block;
    padding: 1rem 2.4rem;
    border: none;
    border-radius: 1rem;
    background-color: rgba(48, 30, 153, 0.8);
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}

.typingspeedData {
    font-size: 1.6rem;
    margin: 1rem 0;
    letter-spacing: .02rem;
    text-align: center;
    text-transform: capitalize;
    display: none;
    color: rgb(64, 78, 124);
}